/* apropos */
.apropos {
    background-color: #fff5f5;
    padding-top: 5px;
}

.fleurMainTheaApropos {
    text-align: center;
    margin-top: 70px;
}

.fleurMainTheaApropos img {
    border-radius: 100%;
    width: 15%;

}

.texteApropos {
    text-align: center;
    margin-top: 70px;
}

.texteApropos h1 {
    color: #CC0099;
    margin-bottom: 50px;
}

.texteApropos {
    margin-left: 400px;
    margin-right: 400px;
    color: #9900CC;
    font-weight: bold;
}

.facebookTexteApropos {
    color: #9900CC;
}