/* contact */
.container {
    padding-top: 150px;
}

.h3Contact {
    color: #CC0099;
    margin-left: 10px;
    margin-top: 40px;
}

/* .nousContacter {
  text-align: center;
} */

.aContact {
    color: #9900CC;
    text-decoration: none;
}

/* formulaire */
.formulaire {
    text-align: center;
    margin-top: 200px;
}

.h2Formulaire {
    color: #9900CC;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* contact */
.contact {
    max-width: 500px;
    margin: 0 auto;

}

.contact label {
    text-align: left;
}

.contact_form {
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

input {
    border: none;
    padding: 10px;
    border-bottom: 1px solid black;
}

.btnContact {
    margin-top: 20px;
    background-color: black;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.pMerciEnvoi {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.aFormulaire {
    text-decoration: none;
    color: #CC0099;
    padding-bottom: 30px;
}

.facebook {
    margin-top: 30px;
    margin-bottom: 30px;
}